<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW1</title>
    <style>
        line {
            stroke:black;
            stroke-width:2
        }
    </style>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
</head>
<body id="app">
    <select v-model="x" class="form-control col-2">
        <option value="sepal length">sepal length</option>
        <option value="sepal width">sepal width</option>
        <option value="petal length">petal length</option>
        <option value="petal width">petal width</option>
    </select>

    <select v-model="y" class="form-control col-2">
        <option value="sepal length">sepal length</option>
        <option value="sepal width">sepal width</option>
        <option value="petal length">petal length</option>
        <option value="petal width">petal width</option>
    </select>

    <br>

    <svg width="600" height="600">
    </svg>

    <script>
        var app = Vue.createApp({
            data() {
                return {
                    data: {},
                    x: 'sepal length',
                    y: 'sepal width'
                }
            },
            async mounted() {
                this.data = await d3.csv("http://vis.lab.djosix.com:2020/data/iris.csv");
                this.draw(this.x, this.y);
            },
            methods: {
                draw(x, y){
                    const svg = d3.select("svg");

                    svg.selectAll("*").remove();

                    svg.append('line').attr('x1', 20).attr('y1', 580).attr('x2', 600).attr('y2', 580);
                    svg.append('line').attr('x1', 20).attr('y1', 580).attr('x2', 20).attr('y2', 20);

                    for(let i =0; i<=10; i++) {
                        svg.append('circle').attr('cx', 20).attr('cy', 580 - 50 * i).attr('r', 2);
                        svg.append('circle').attr('cx', 20 + 50 * i).attr('cy', 580).attr('r', 2);

                        svg.append('text').attr('x', 0).attr('y', 580 - 50 * i + 5).html(i);
                        svg.append('text').attr('x', 50 * i + 20 - 5).attr('y', 600).html(i);
                    }

                    this.data.forEach(function(elem, i) {
                        if(elem['sepal width'] != 0){
                            let color;
                            if(elem['class'] == 'Iris-setosa') {
                                color = 'red'
                            } else if (elem['class'] == 'Iris-versicolor') {
                                color = 'blue'
                            } else {
                                color = 'green'
                            }

                            x_axis = elem[x] * 50 + 20;
                            y_axis = 600 - (elem[y] * 50) - 20;

                            svg.append("circle").attr("cx", x_axis).attr("cy", y_axis).attr("r", 3).attr("fill", color);
                        }
                    });
                }
            },
            watch: {
                x(new_x) {
                    this.draw(new_x, this.y);
                },
                y(new_y) {
                    this.draw(this.x, new_y);
                }
            }
        }).mount('#app');
        
    </script>
</body>
</html>